.imageThumbnailFlex {
    max-width: 55px;
    max-height: 55px;
    display: inline-flex;
}

#thumbnailContent {
    min-height: 58px;
}
#thumbnailContent > .inner-scroll {
    overflow: hidden;
}
#thumbnailContent.opened {
    min-height: 50vh;
}
#thumbnailContent.opened ion-thumbnail{
    width: 72px;
    height: 72px;
}

#canvasEditor{
    width: calc(100% - 60px);
    height: calc(100% - 56px - 20px);
    border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
    margin: 0 58px 3px auto;
}

#canvasEditor > * {
    position: absolute;
    /*width: 100%;
    height: 100%;*/
    /*width: inherit;
    height: inherit;*/
    width: inherit;
    height: calc(100% - 3 * 56px);
    /*border: 1px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
    */
}

#canvasEditor .text-element {
    position: absolute;
    padding: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#canvasEditor .text-element.state-drag {
    cursor: pointer;
}
#canvasEditor .image-element {
    position: absolute;
}
#canvasEditor .state-edit,
#canvasEditor .state-drag {
    touch-action: none
}

#canvasEditor .selected {
    border: 1px solid black;
}
ion-fab-button {
    z-index: 900;
}
#canvasEditor, body, ion-content, .ion-page {
    overflow: hidden;
}


.rightFabButton {
    right: calc(var(--ion-safe-area-right, 0px));
}

#footer {
    bottom: calc(var(--offset-bottom, 0px));
    width: 100%;
    position: absolute;
    z-index: 901;
}
#footer > * {
    position: relative;
}


input.colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}
input.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid var(--ion-color-primary, #3880ff);;
}
input.colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid var(--ion-color-primary, #3880ff);;
}